language: c
sudo: false

matrix:
  include:
    - env: CABALVER=1.20 GHCVER=7.10.3
      addons: {apt: {packages: [cabal-install-1.20,ghc-7.10.3],sources: [hvr-ghc]}}

addons:
 apt:
   sources:
   - hvr-ghc
   packages:
   - cabal-install-1.20
   - ghc-7.10.3 
   - happy
   - hlint

cache:
  directories:
  - $HOME/.cabal
  - $HOME/.ghc

before_install:
  - export PATH=/opt/ghc/$GHCVER/bin:$PATH
  - ghc --version

install:
  - cabal-1.20 update
  - cabal-1.20 install codecov-haskell
  - cabal-1.20 install --only-dependencies --enable-tests --enable-benchmarks

script:
  - hlint . --ignore="Parse error"
  - cabal-1.20 configure --enable-tests --enable-benchmarks --enable-library-coverage -v2
  - travis_wait 30 cabal-1.20 build
  - |
    if [ $GHCVER == "7.8.3" ]; then
      cabal-1.20 test --show-details=always
    else
      dist/build/run-cabal-test/run-cabal-test --cabal-name=cabal-1.20 --show-details=always
    fi
  - cabal-1.20 check
  - cabal-1.20 sdist
  - export SRC_TGZ=$(cabal-1.20 info . | awk '{print $2 ".tar.gz";exit}') ;
    (cd dist/;
    if [ -f "$SRC_TGZ" ]; then
      cabal-1.20 install "$SRC_TGZ";
    else
      echo "expected '$SRC_TGZ' not found";
      exit 1;
    fi)

after_script: 
  - codecov-haskell test-smallpde --exclude-dir=test --display-report --print-response --dont-send > .tmp-report
  - bash <(curl -s https://codecov.io/bash) -f .tmp-report

notifications:
  webhooks:
  urls:
  on_success: change
  on_failure: always
  on_start: false
  
